# VPS Monitor
AUTH_USER=admin
AUTH_PASS=
SESSION_SECRET=

# SaintBarth Volley
SBV_MONGO_URI=mongodb://mongo:27017/sbv

# Lucky7
LUCKY7_MONGO_URI=mongodb://mongo:27017/lucky7

# Collège La Boussole
CLB_MONGO_URI=mongodb://mongo:27017/clb
